button {
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  padding: 16px 35px;

  &.bright-orange {
    color: hsl(31, 77%, 52%);
  }

  &.dark-cyan {
    color: hsl(184, 100%, 22%);
  }

  &.very-dark-cyan {
    color: hsl(179, 100%, 13%);
  }
}

